<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLoglevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- add your targets here -->

    <target xsi:type="File"
            name="allFile"
            fileName="C:\Users\Acer\source\repos\Project\nlog-all-${shortdate}.log"
            layout="${linePrefix}${message}${exceptionFormat}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Trace" writeTo="allFile" />>

  </rules>
</nlog>